.table_warp{
   
    display: flex;  
    flex-direction: column;
    border-radius: 16px;
}

.plus_warp{
    border: 1px solid black;
    align-self: flex-end;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #35586C;
    border: none;
    outline: none;
    margin-top: 28px;
    z-index: 1;
}
.plus{
    font-size: 56px;
    align-self: center;
   color: white;
   transform: translateY(-10%);
   font-weight: 100;
   cursor: pointer;
  
}


 .table_head{
   
    background-color: #35586C;
    border: none;
    height: 40px;
    color: #fff;
} 
.table_head th{
    font-weight: 600;
    justify-self: flex-start;
}
